/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/livewire/car-model-select.blade.php
app/Models/UserProject.php
database/migrations/2022_09_19_052402_create_users_project_table.php
